DOCKER_PORT_BACKEND=10000
DOCKER_PORT_DB=10001
DOCKER_PORT_MAILPIT_WEB=10002
DOCKER_PORT_MAILPIT_SMTP=10003

APP_NAME="Graph generator"
#prod|dev|test|staging
APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:10000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_USERNAME=app
DB_DATABASE=app
DB_PASSWORD=1234

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=app@app.app
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"